@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Great+Vibes|Lora|Parisienne|Sacramento|Shadows+Into+Light|Quicksand');


// Headline
// Body Font
// Score: 0, 0, 0, 2



h1 {
	font-family: 'Sacramento', cursive;
	color: hotpink;
	font-size: 72pt;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

footer {
	display: flex;
	color: hotpink;
	justify-content: center;
	padding-bottom: 10px;
}

footer a {
	color: hotpink;
	font-size: 10pt;
}

article {
	font-family: 'Quicksand', sans-serif;
	color: ivory;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px;
	font-size: 12px;
	// top: 300px;
}

h2 {
	font-family: 'Sacramento', cursive;
	color: black;
	font-size: 36px;
}

.info {
	font-size: 10px;
	color: hotpink;
}

.creator {
	font-size: 10px;
	color: black;
}

.summary {
	font-size: 14px;
	color: black;
}


h3 {
	font-family: 'Sacramento', cursive;
	color: black;
}

.uk-h4, h4 {
	color: hotpink;
}