@import "uikit.min";
@import "mediaplayer.min";
@import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script|Great+Vibes|Lora|Parisienne|Sacramento|Shadows+Into+Light|Quicksand');


// Headline
// Body Font
// Score: 0, 0, 0, 2

.mejs__container {
    margin-left: 40px;
}

.uk-container {
	max-width: 90%;
	background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
}

h1 {
	font-family: 'Sacramento', cursive;
	color: ivory;
	font-size: 72pt;
	display: flex;
	justify-content: center;
	margin-top: 40px;
}

footer {
	display: flex;
	color: ivory;
	justify-content: center;
	padding-bottom: 10px;
}

footer a {
	color: ivory;
	font-size: 6pt;
}

article {
	font-family: 'Quicksand', sans-serif;
	color: ivory;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 30px;
	font-size: 12px;
}

aside {
	width: 100%;
}

h2 {
	font-family: 'Sacramento', cursive;
	color: ivory;
	font-size: 36px;
}

.info {
	font-size: 10px;
	color: hotpink;
}

.creator {
	font-size: 10px;
	color: ivory;
}

.summary {
	font-size: 14px;
	color: ivory;
}

div p {
	margin-top: -50px;
	color: hotpink;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 10px;
	font-size: 12px;
}

h3 {
	font-family: 'Sacramento', cursive;
	color: ivory;
}

.last li{
			margin: 350px 150px 150px 100px;
			width: 300px;
			height: 250px;
			list-style-type:none;
			padding:10px 10px 30px 10px;
			background:#fff;
			border:solid black 1pde;
			transform: rotate(5deg);
		}

.last img{
			display:block;
			width: 400px;
			height: auto;
		}


// Code from: Jonathan Gotti https://codepen.io/malko/pen/Eyxep


.gallery{
			position:relative;
			top:100px;
			left:100px;
		}

.gallery li{
			position:absolute;
			display:block;
			margin:0;
			list-style-type:none;
			padding:10px 10px 30px 10px;
			background:#fff;
			border:solid black 1px;
			-webkit-box-shadow:2px 2px 4px #333333;
			-webkit-transition: -webkit-transform 0.5s ease;
			-moz-box-shadow:2px 2px 4px #333333;
			-moz-transition: -moz-transform 0.5s ease;
			box-shadow:2px 2px 4px #333333;
			transition: transform 0.5s ease;
		}

.gallery li.active{
			-webkit-transform:rotate(0deg) !important;
			-moz-transform:rotate(0deg) !important;
			transform:rotate(0deg) !important;
		}

.gallery img{
			display:block;
			width:160px;
			-webkit-transition: width 0.75s;
			-moz-transition: width 0.75s;
			transition: width 0.75s;
		}

.gallery .active img{
			display:block;
			width:640px;
		}
